/* Style inputs with type="text", type="email", and textareas */
input[type="name"],
input[type="email"],
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #9f8772; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin: 6px 0 16px; /* Add vertical margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-size: 16px; /* Set font size */
  font-family: 'serif', serif; /* Set font family */
  color: #ede4e0; /* Set text color */
  background-color: #9f8772; /* Set background color */
}
input[type="name"]::placeholder {
    color: #665a48;
  }
  

input[type="email"]::placeholder {
    color: #665a48;
  }

textarea::placeholder {
    color: #665a48;
  }
/* Style the label for each input */
label {
  display: block; /* Display label as block element */
  margin-bottom: 6px; /* Add bottom margin */
  font-family: 'serif', serif; /* Set font family */
  color: #ede4e0; /* Set text color */
}

/* Style the submit button with a specific background color etc */
button[type="submit"] {
    background-color: #9f8772;
    color: #ede4e0;
    padding: 12px 20px;
    border: .5px solid transparent; /* Set border to transparent by default */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'serif', serif;
  }
  
  button[type="submit"]:hover {
    background-color: #9f8772;
    border-color: #ede4e0; /* Set border color on hover */
    color:#665a48
  }
  
  
/* Style the submit button with a specific background color etc */
button[type="reset"] {
    background-color: #9f8772;
    color: #ede4e0;
    padding: 12px 20px;
    border: .5px solid transparent; /* Set border to transparent by default */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'serif', serif;
  }
  
  button[type="reset"]:hover {
    background-color: #9f8772;
    border-color: #ede4e0; /* Set border color on hover */
    color:#665a48
  }

/* Add some basic styles for the form */
form {
  background-color: #665a48; /* Set background color */
  color: #ede4e0; /* Set text color */
}



